h3 {
    font-weight: normal;
}
.right-sidebar-section {
  // overflow-y: scroll;


  &.labels-section{
      height: 36%;
  }

  &.features-section{
      height: 45%;
  }

  &.run-ml-section {
      height: 19%;
      text-align: center;

      .run-ml-button {
        &.md-button.md-raised:not([disabled]):hover {
          background-color: $mainAccent;
        }

        background-color: $mainAccent;
        display: inline-block;
        vertical-align: middle;
        color: white;
      }
  }

  &.run-ml-section:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
}
/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line {
  md-divider {
    &[md-inset] {
      left: 70px;
    }
  }
}
