$leftSidebarWidth: 300px;
$rightSidebarWidth: 300px;

// colours
$mainAccent: #98C21F;
$secondAccent: #5B784D;
$fontColor: #202020;
$subFontColor: #9096B2;
$backgroundColor: #fff;
$invertFontColor: #fff;
