/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import 'variables';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    overflow:hidden;
}

.main-wrapper{
    width: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.content {
    width: calc(100% - #{$rightSidebarWidth});
    position: relative;
    min-height: 600px; // TODO: needs optimization
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.contentSection {
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  overflow-y: scroll;


  md-card {
    width: 90%;
  }
}

.add-dataset{
    margin-top: 35%;
}

md-slider.md-default-theme, md-slider .md-thumb:after {
    border-color: $mainAccent;
    background-color: $mainAccent;
}

md-slider.md-default-theme, md-slider .md-track.md-track-fill, md-slider .md-focus-ring {
    background-color: $mainAccent;
}


md-checkbox.md-checked .md-ink-ripple, md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon {
    color: $mainAccent;
    background-color: $mainAccent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: $backgroundColor;
}

::-webkit-scrollbar-thumb {
    background-color: #9096B2;
}

::-webkit-scrollbar-button {
    background-color: #9096B2;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
.active {
  background-color: rgba(160, 160, 160, 0.25);
}
